.product {
    aspect-ratio: 1/ 1.15;

    &:hover {
        box-shadow: 0px 3.5px 7.5px 0px rgba(0, 0, 0, 0.2);
        // transform: translateY(-5px);

        .productHover {
            visibility: visible;
            transition-duration: 0.5s;
            opacity: 1;
        }
    }
}