
.bannersHeader {
    height: 5.25rem;

    div {
        width: calc(20% - 1.25rem);
    }
}

.bannersMain {
    width: 100%;
    height: 40rem;
}

.bannersFirstPanel {
    width: 75%;
}

.bannersSecondPanel {
    width: 25%;
}

.bannerHeaderCornerLightYellow::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 100%;
    background: radial-gradient(circle at top right, transparent 1.5rem, #F9F2A2 1.5rem);
}

.bannerHeaderCornerDarkBlue::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 100%;
    background: radial-gradient(circle at top left, transparent 1.5rem, #2E2DDD 1.5rem);
}

.bannerCornerLightYellow::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 100%;
    background: radial-gradient(circle at bottom left, transparent 1.5rem, #007BD0 1.5rem);
}

.bannerSquareOrange {
    height: calc(100% - 1.25rem);
}

.bannerCornerOrange::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: radial-gradient(circle at top right, transparent 1.5rem, #FF4900 1.5rem);
}