@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  gap: 1rem;
  height: 10vh;
  width: 100%;
  background-color: red;
  position: relative;
}

.header-left,
.header-right {
  width: 20%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply !min-w-full;
  }
}
