@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li{
  cursor: pointer;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @layer components {
  .container {
    @apply !min-w-full;
  }
} */
