.searchContainer {
    height: calc(100vh - 8rem);
}

.searchRecommendations,
.searchResults {

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 640px) {
    .searchContainer {
        height: calc(90vh - 8rem);
    }
}