.searchContainer {
    height: calc(100vh - 7rem);
}



@media (max-width: 640px) {
    .searchContainer {
        height: calc(100svh - 7rem);
    }

    .searchRecommendations,
    .searchResults {

        &::-webkit-scrollbar {
            display: none;
        }
    }
}