.cartContainer {
    max-height: calc(100vh - 7rem);
}

.cartContent {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 640px) {
    .cartContainer {
        max-height: calc(100svh - 7rem);
    }
}